# Python Pandas Examples
In progress

In [ ]:
#importing each thing has decreased program run time - it's very small, but I'll take any improvements
from pandas import...
DataFrame
read_pickle #it can read zipped pickle
cut
set_option
merge
read_csv
isnull
or import pandas as pd

In [ ]:
set_option('display.max_columns', None)
set_option('display.width', None)
set_option('display.max_rows', None)
#show reset option also

In [ ]:
#sas imports - mixed columns end up as a float when you want an int, so you need to code them
#     either as pandas categorical data types (but numpy can't handle them) or you set the different
#     flavors of missing to an integer value, I've chosen negative values
niu_missing = -99
dk_missing = -88
softref_missing = -77
ref_missing = -66
def nan_float_int(df, strvar, strint):
    df[strvar] = np.where(df[strvar] == 'N', niu_missing, df[strvar]) #not in universe
    df[strvar] = np.where(df[strvar] == 'D', dk_missing, df[strvar]) #don't know
    df[strvar] = np.where(df[strvar] == 'R', ref_missing, df[strvar]) #hard refusal
    df[strvar] = np.where(df[strvar] == 'S', softref_missing, df[strvar]) #soft refusal
    try:
        df[strvar] = np.where(np.isnan(df[strvar]), blank_missing, df[strvar])
    except:
        df[strvar] = np.where(isnull(df[strvar]), blank_missing, df[strvar])
    return df.astype({strvar: strint})
df = nan_float_int(df, 'SEX', 'int8')
#table of int8, int16 ranges

In [ ]:
#frequency count where
df[df['SEX'] == 1]['POVERTY'].value_counts()

In [ ]:
#let's say I have a set of values that are in one dataset and i need to check against another analysis
# and analysis1 is the set that I consider the source of truth
analysis1 = set(df['ID_Values1'].astype('string').values)
analysis2 = set(df[df['myvariable_change_spec'] == 'D1.30']['IDs'].astype('string'))
a = analysis1 - analysis2
b = analysis2 - analysis1
print("SHOULD be in my data at this point, but aren't", a)
print("should NOT be in my data at this point, but are", b)

In [ ]:
df = pd.read_csv("file.csv", dtype="string") #force import as string

In [ ]:
df.sort_values(by=['ID1', 'ID2', 'VAR1', 'VAR2'], ascending=True, inplace=True)

In [ ]:
#index
df.set_index(['ID1','ID2','ID3'], inplace=True) #multiindex speeds things up
df.reset_index(inplace=True)
df = df.rename(columns={'AZK13': 'SEX'})

In [ ]:
df['age_recode'] = cut(x = df['AGE'], bins[-1, 4, 17, 29, 54, 199], \
    labels=['0-4', '5-17', '18-29', '30-54', '55+'])

In [ ]:
#instead of doing an apply, do something like this:
us_country = [1, 2, 3, 4, 11]
not_us_country = [5:10,12:35]
d304 = df['US'].isin(us_country)
df.loc[(universe & men & d304), 'BZ4k'] = 2

In [ ]:
d103 = df['STATE'] == 11
d104 = df['STATE'].isin(np.r_[1, 2, 4:42, 43:58])
df.loc[(universe & d103 & ~d104), 'RSTATE'] = 2

In [ ]:
#add values to dataframe with groupby, e.g. get characteristic of someone else in the same group quickly